<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Comma-separated list. Add more keys to rotate when quota is hit. -->
    <key>GEMINI_API_KEYS</key>
    <string>YOUR_KEY_1,YOUR_KEY_2,YOUR_KEY_3</string>
</dict>
</plist>
